<div class="container text-center error-container">

  <h1 class="display-3">Error {{error.code}} </h1>
  <p class="lead">{{error.message}}</p>
  <hr class="my-4">
  <p>{{ __ '404.bugreport' }}<a
    href="https://github.com/wildan3105/github-langs/issues" target="_blank">{{ __ '404.issue' }}</a>.</p>
  <p class="lead">
    <a class="btn btn-lg" href="/" role="button">{{ __ 'back' }}</a>
  </p>

</div>

<div class="mastfoot">
  <div class="inner text-center">
    <p style="color:white"> {{ __ 'footer.copyright' }} &copy 2017 - {{currentYear}} Wildan S. Nahar | {{ __ 'footer.disclaimer' }} : {{ __ 'footer.siteinfo' }}</p>
  </div>
</div>
