<center>
  <div class="inner cover">
    <br>
    <br>
    <a style="text-decoration:none; color:white" href='./' title='Kembali ke beranda'>
      <h1 class="cover-heading">Pemeriksa Bahasa GitHub</h1>
    </a>

    <br>
    <div class="container">
      <div class="row">
        <div class="order-md-2 col-md-6">
          <form id="search-form" action="" method="get" action="#">
            <div class="input-group">
              <input type="text" class="form-control" autofocus="autofocus" id="username" name="username" placeholder="Nama pengguna Github"
                required>
              <button type="submit" class="input-group-addon btn" name="" onClick="showLoader();">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <div id="overlay">
    <div class="spinner"></div>
  </div>
  <div id="realContent">
    <center>
      <h3>{{msg}}</h3>
      {{#if show.result}}
      <div class="result">
        <div class="container">
          {{#if type}}
            <img class="img-organisation" src="public/img/blue-check.png" title='{{type}} - {{username}}' alt='{{username}}'/>
          {{/if}}
          <img class="img-circle" src='{{avatar}}'>
          <br>
          <div class="row">
            <div class="col-md-12">
              <h4> {{repos}} {{showEmoji}}</h4>
              <p class="random-statement">{{statement}}</p>
            </div>
          </div>
        </div>
        {{#if show.chart}}
        <div>
          <div
            id="canvas-container"
            data-username='{{username}}'
            data-languages='{{languages}}'
            data-colors='{{colors}}'
          >
            <canvas id="myChart" style="cursor:pointer;"></canvas>

            <div> <!--container buttons and limit repo message -->
                  <button id="btn-toggle" class="funbtn active" onclick="toggleColor()">
                    
                    Ubah warna
                  </button>

                  <script>
                    let singleColor = chart({ limit: 20 })
                  </script>
                  <button class="funbtn save" onclick="saveChart();">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Unduh
                  </button>

                    {{#if limitLabel}}
                      <div class="message">Untuk pengguna yang memiliki banyak repository, hanya 20 bahasa teratas yang ditampilkan. </div>
                    {{/if}}

            </div>
          </div>
        </div>
        <br>
        <div id="social">
          <div class="social-btn">
            <a class="twitter-share-button"
              href="https://twitter.com/intent/tweet"
              data-url="https://githublangs.herokuapp.com?username={{username}}"
              data-text="Bahasa yang paling sering saya gunakan adalah {{goodAt}}"
              data-hashtags="github,{{goodAt}}"
              data-size="large">
            Tweet</a>
          </div>
          <div class="fb-share-button social-btn" data-href="https://githublangs.herokuapp.com" data-layout="button" data-size="large" data-mobile-iframe="true">
            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgithublangs.herokuapp.com%2F&amp;src=sdkpreparse">
            Share</a>
          </div>
        </div>
        {{/if}}
      </div>
      {{/if}}
      <div class="mastfoot">
        <div class="inner">
          <p style="color:white"> Hak cipta &salinan 2017 - {{currentYear}} Wildan S. Nahar | Perhatian : Situs ini adalah buatan penggemar dan tidak berafiliasi dengan GitHub.</p>
        </div>
      </div>
    </center>
</center>

<script src="public/js/spinner.js"></script>
<div id="fb-root"></div>
<script src="public/js/social.js"></script>
