<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="public/img/coding.png">
    <title>{{title}}</title>
    <!-- Bootstrap core CSS -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="public/cover.css" rel="stylesheet">
    <style media="screen">
      body{
        background-color: #1f1c21;
        color:white;
      }
      .img-circle {
        border-radius: 50%;
        width: 15%;
        height: 15%;
      }
      .mastfoot {
        position:fixed;
       left:0px;
       bottom:10px;
       height:30px;
       width:100%;
       background:;
      }
    </style>
  </head>
  <body>
    <a href="http://github.com/wildan3105/github-langs" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
</body>
</html>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <center>

          <div class="inner cover">
            <br><br>
            <a href='./' title='Back to home'><h1 class="cover-heading">GitHub Language Checker</h1> </a>

            <br>
            <form id="search-form" action="" method="get" action="#">
              <input type="text" name="username" placeholder="type your username" required>
              <button type="submit" name="">Search</button>
            </form>
          </div>
          <br>
          <h3>{{msg}}</h3>
          <div style="display:{{showResult}}">
            <img class="img-circle" src='{{avatar}}'>
            <br>
            <a href="https://github.com/{{username}}" title="go to {{username}}'s github page" target="_blank"><caption>{{username}}</caption></a>
            <h4> {{repos}}</h4>
            ===
            <p>
              <h4 style="display:{{showLanguage}}"> Languages : </h4>
              {{#each languages}}
                {{@key}}: {{this}},
              {{/each}}
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Disclaimer : This site is a fan made and not affiliated with GitHub.</p>
            </div>
          </div>
          </center>
        </div>
      </div>
    </div>
  </body>
</html>
