<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="public/img/coding.png">
    <title>{{title}}</title>
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <a href='./' title='Back to home'><h1 class="cover-heading">GitHub Language Checker</h1> </a>
            <br>
            <form id="search-form" action="" method="get" action="#">
              <input type="text" name="username" placeholder="type your username" required>
              <button type="submit" name="">Search</button>
            </form>
          </div>
          <br>
          <h3>{{message}}</h3>
          <div class="hide" style="display:{{showResult}}">
            <h4>RESULT FOR <i> {{username}} </i> </h4>
            <h3>Total public repos : {{repos}}</h3>
            <p>
              <h4> Languages : </h4>
              {{#each languages}}
                {{@key}}: {{this}},
              {{/each}}
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Disclaimer : This site is a fan made and not affiliated with GitHub.
                <br>
                <a href="https://github.com/wildan3105/github-langs" target="_blank">Source code</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
